BasedOnStyle: Google

IndentWidth: 4
# no column limit
ColumnLimit: 0

AlignTrailingComments: true
AlignAfterOpenBracket: true
IndentRequires: false

# puts public, private, on the same column with class definition
AccessModifierOffset: -4

PackConstructorInitializers: BinPack

# "if (a) return"; can be put on a single line.
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# Align consecutive assignments.
AlignConsecutiveAssignments: Consecutive

# Enum Style
AllowShortEnumsOnASingleLine: true

# Indent extern "C" block
IndentExternBlock: Indent

AlignArrayOfStructures: Left
