# engine files and folders
engine/
# static library files
lib/
# headers files
include/

# makefile files
src/*/*.mak
# object files
src/*/*.o
# yosys extension files
src/ext/*.so
src/ext/*.d

# yosys execution files
yosys-abc
yosys-config

# vscode configuration files and folders
.vscode/

# vim configuration files and folders
.cache/
compile_commands.json

# design and log files
*.aig
*.v
*.txt
